/* Geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

html {
  font-family: Helvetica, Arial, sans-serif;
}

h1,
h2,
h3 {
  color: #333;
}

p {
  color: #70747a;
  font-size: 1.6rem;
}

/* Navbar */
.navbar-container {
  width: 100%;
  height: 8rem;
  background-color: #232a31;
  padding: 0 2rem;
}

.logo {
  width: 5rem;
  padding-top: 1.5rem;
}

.navbar-items {
  position: absolute;
  right: 0;
  height: 8rem;
  line-height: 8rem;
  padding-right: 2rem;
  margin: 0;
  display: inline-block;
}

.navbar-items li {
  font-size: 1.6rem;
  letter-spacing: 0.2rem;
  font-weight: bold;
  display: inline-block;
  text-transform: uppercase;
  margin-left: 2.5rem;
}

.navbar-items a {
  color: #fff;
  text-decoration: none;
}

.navbar-items a:hover {
  color: #ccc;
}

.default-btn {
  padding: 1.5rem 2rem;
  background-color: #2cc76a;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

.navbar-items .default-btn:hover {
  background-color: #22bb5f;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

.btn {
  margin-top: 3rem;
  display: none;
  justify-content: center;
  align-items: center;
}

button a {
  color: #fff;
  text-decoration: none;
}

button.login-btn {
  outline: 0;
  border: none;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  padding: 1.5rem 2rem;
  background-color: #2cc76a;
  border-radius: 0.5rem;
  transition: all 0.5s ease-in-out;
}

button.login-btn:hover {
  background-color: #22bb5f;
  color: #fff;
  transition: all 0.5s ease-in-out;
}

/* Banner Principal */
.main-banner {
  background-image: url('./assets/images/mainbanner.png');
  background-size: cover;
  background-position: center;
  padding: 20rem 0;
}

.main-banner h1,
.main-banner p {
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-shadow: #000 3px 2px 3px;
}

.main-banner h1 {
  font-size: 5.4rem;
}

.main-banner p {
  font-size: 3.2rem;
}

/* Serviços */
.services-container {
  padding: 5rem 0;
}

.services-container ul {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.services-container li {
  flex: 1 1 20rem;
  text-align: center;
  list-style-type: none;
  padding: 2rem;
}

.fas {
  font-size: 6rem;
  margin-bottom: 1.5rem;
}

.fa-shield-alt {
  color: #2cc76a;
}

.fa-rocket {
  color: #ef3f29;
}

.fa-comments {
  color: #ef8f29;
}

.services-container h3 {
  font-size: 2.2rem;
  margin-bottom: 2.5rem;
}

.services-container p {
  line-height: 2.4rem;
}

/* Planos e Preços */
.pricing-container {
  padding-bottom: 5rem;
  text-align: center;
}

.pricing-container h2 {
  font-size: 3.6rem;
}

.pricing-container p {
  font-size: 2rem;
}

.plans-container {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 5rem auto 0;
}

.plan {
  flex: 1;
  max-width: 27.5rem;
  margin: 0 2rem;
}

.plan ul {
  padding: 0;
}

.plan li {
  font-size: 1.6rem;
  list-style-type: none;
  height: 5rem;
  line-height: 5rem;
  background-color: #e8e9ea;
  color: #333;
}

.plan .plan-name,
.plan .benefits,
.plan .plan-btn {
  box-shadow: 4px 2px 5px #333;
}

.plan .price {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;

  background-color: #2cc762;
  color: #fff;
  text-align: center;
  line-height: 12rem;
  margin: 0 auto -5rem;
  font-size: 1.8rem;

  position: relative;
}

.plan .plan-name {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;

  background-color: #202b34;
  padding: 5rem 0;

  border-radius: 0.5rem 0.5rem 0 0;
}

.plan li.benefits {
  border-bottom: 1px solid #fff;
}

.plan .plan-btn {
  background-color: #2cc762;
  color: #fff;
  font-size: 2.4rem;
  height: 7.5rem;
  line-height: 7.5rem;
  cursor: pointer;

  border-radius: 0 0 0.5rem 0.5rem;
}

.plan .recommended {
  background-color: #f45c57;
}

/* Busca de Domínio */
.searchDomain-container {
  background-color: #34454e;
  text-align: center;
  padding: 5rem 0;
}

.searchDomain-container h2 {
  color: #fff;
  font-size: 4.2rem;
  margin-bottom: 1.5rem;
}

.searchDomain-container p {
  color: #d5d5d5;
  font-size: 2.4rem;
  margin-bottom: 2.5rem;
}

.searchDomain-container input {
  display: block;
  margin: 0 auto;

  border-radius: 0.5rem;
  outline: 0;
  border: none;
}

.searchDomain-container input[type='text'] {
  width: 60%;

  font-size: 2rem;
  padding: 2rem;
  margin-bottom: 1.5rem;
}

.searchDomain-container input[type='submit'] {
  background-color: #2cc76a;
  font-size: 2rem;
  color: #fff;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  border: none;
  outline: none;

  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.searchDomain-container input[type='submit']:hover {
  border: #2cc762;
  background-color: #fff;
  color: #2cc762;

  transition: all 0.4s ease-in-out;
}

/* Formulário de Contato */
.contact-container {
  text-align: center;
  padding: 5rem 0;
}

.contact-container h2 {
  font-size: 3.6rem;
  margin-bottom: 1.5rem;
}

.contact-container p {
  font-size: 2rem;
  margin-bottom: 4rem;
}

.contact-container input,
.contact-container textarea {
  padding: 1rem 2rem;
  font-size: 1.6rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  margin: 0 1rem 2rem;
}

.contact-container input[type='text'],
.contact-container input[type='email'] {
  max-width: 30rem;
  width: 90%;
}

.contact-container textarea {
  display: block;
  margin: 0 auto 2rem;
  max-width: 62rem;
  width: 90%;
  height: 15rem;
  resize: none;
}

.contact-container input[type='submit'] {
  display: block;
  margin: 0 auto;

  font-size: 2rem;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  color: #fff;
  background-color: #2cc76a;
  border-radius: 0.5rem;
  cursor: pointer;

  border: none;
  outline: none;
  opacity: 0.8;

  transition: all 0.4s ease-in;
}

.contact-container input[type='submit']:hover {
  transition: all 0.4s ease-in;
  opacity: 1;
}

/* Footer */
footer {
  text-align: center;
  background-color: #34454e;
  padding: 4rem 0;
}
footer p {
  color: #fff;
  font-size: 2rem;
}

/* Resposividade */
/* Small laptops a partir de 1100px */
@media (max-width: 1100px) {
  .plans-container {
    width: 95%;
  }

  .plan {
    margin: 0 0.5rem;
  }
}

/* table 900px */
@media (max-width: 900px) {
  .main-banner p {
    padding: 0 6rem;
  }

  .searchDomain-container {
    padding: 2rem 4rem;
  }

  .plans-container {
    width: 90%;
  }
}

@media (max-width: 760px) {
  .plans-container {
    display: grid;
    grid-template-columns: repeat(2, 45%);
    gap: 5rem 0;
  }

  .plan {
    width: 100%;

    place-self: center;
  }

  .contact-container p {
    width: 90%;
    margin: 0 auto 2.5rem;
  }
}

/* mini table 700px */
@media (max-width: 700px) {
  .contact-container input[type='text'],
  .contact-container input[type='email'] {
    max-width: none;
    width: 90%;
  }
}

/* Celular 576px  */
@media (max-width: 576px) {
  .navbar-container .default-btn {
    display: none;
  }

  .main-banner {
    padding: 10rem 0;
  }

  .main-banner h1 {
    margin-bottom: 2rem;
  }
  .main-banner p {
    font-size: 2.6rem;
  }

  .btn {
    display: flex;
  }

  .services-container ul {
    flex-direction: column;
  }

  .plans-container {
    flex-direction: column;
  }

  .plan {
    width: 100%;
    max-width: 100%;
  }

  .searchDomain-container h2 {
    font-size: 3.2rem;
  }

  .searchDomain-container p {
    font-size: 2rem;
  }

  .searchDomain-container input[type='text'] {
    width: 90%;
    margin-bottom: 3.5rem;
  }

  .contact-container h2 {
    font-size: 2.6rem;
  }

  .contact-container p {
    font-size: 1.8rem;
  }
}
